<main id="main" class="main">


    <!-- End Page Title -->

    <section class="section dashboard">
        <h3>Produits</h3>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/globale/menu']">catégorie</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/globale/listCereale']">Liste</a></li>
            </ol>
        </nav>

        <div class="modal fade" id="basicModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">formulaire</h5>

                                <!-- Horizontal Form -->
                                <form #form="ngForm">
                                    <div class="row mb-3">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Nom</label>
                                        <div class="col-sm-10">
                                            <input type="text" ngModel name="nomProduit" class="form-control" id="inputText">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Prix</label>
                                        <div class="col-sm-10">
                                            <input type="text" ngModel name="prixKg" class="form-control" id="inputText">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Quantite</label>
                                        <div class="col-sm-10">
                                            <input type="text" ngModel name="quantite" class="form-control" id="inputText">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Categorie</label>
                                        <select name="type" id="type" name="unite" ngModel>
                                            <option value="Kg"> Marraichage</option>
                                            <option value="Sac50Kg">Cérealiètre</option>
                                            <option value="Sac100Kg"> Engrais</option>
                                    
                                          </select>

                                        <div class="col-sm-10">


                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Photo</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="inputPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-sm-10 offset-sm-2">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">reset</button>
                                        <button type="submit" class="btn btn-primary">Ajouter</button>
                                    </div>

                                </form>
                                <!-- End Horizontal Form -->

                            </div>
                        </div>
                    </div>

                </div>
            </div>           
            <!-- End #main -->
        </div>
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">
                    <!-- Top Selling -->
                    <div class="col-12">
                        <div class="card top-selling overflow-auto">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body pb-0">
                                <h5 class="card-title">Liste des céreales</h5>

                                <table class="table table-borderless">
                                    <thead class="color">
                                        <tr>
                                            <th scope="col">image</th>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Prix</th>
                                            <th scope="col">quantite</th>
                                            <th scope="col">action</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let prod of produit">
                                        <tr *ngIf="prod.categorie.type=='Cérealière'">
                                            <th scope="row">
                                                <a href="#"><img src={{img}}{{prod.id}} alt=""></a>
                                            </th>
                                            <td><a href="#" class="text-primary fw-bold">{{prod.nomProduit}}</a></td>
                                            <td>{{prod.prixKg}}</td>
                                            <td class="fw-bold" [ngClass]="{'outofstock': prod.quantite === 30, 'lowstock': (prod.quantite > 31 && prod.quantite < 50),'instock': prod.quantite > 100}">{{prod.quantite}}</td>
                                            <td class="icon">
                                                <i routerLink="/globale/DetailCereale/{{prod.id}}" class="bi bi-eye a" title="voir détail"></i>
                                                <i class="bi bi-pencil c" routerLink="/globale/modifiCereale/{{prod.id}}" title="modifier le produit"></i>
                                                <i (click)="supprimer(prod.id)" class="bi bi-trash b" title="supprimer le produit"></i>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                    <!-- End Top Selling -->

                </div>
            </div>
            <!-- End Left side columns -->

            <!-- Right side columns -->


        </div>
    </section>

</main>
<!-- End #main -->