<main id="main" class="main">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/globale/commdp']">commandes paquets</a></li>
            <li class="breadcrumb-item"><a></a></li>
        </ol>
    </nav>
    <h5>la liste de commande des paquets</h5>
    <!-- End Page Title -->
    <section class="section">
        <div class="row cardgroup">
            <div class="card" style="width: 200px" *ngFor="let com of commande">
                <div class="card-body">
                    <div>
                        <p class="d-flex justify-content-between">
                            <span class="result">
                            <b style="text-transform: uppercase;">{{com?.paquet?.nompaquet}}</b>
                            </span>
                            <span>{{com?.quantite}}</span>
                        </p>
                        <p><span class="result">{{com?.montant}}</span></p>
                    </div>
                    <div>
                        <p><i class="bi bi-person"></i><span class="result">{{com?.paysans?.prenom}} {{com?.paysans?.nom}}</span><br>
                        <i class="bi bi-person"></i><span>{{com?.paysans?.telephone}}</span> </p>
                    </div>
                    <div class="icon">
                        <i class="b bi bi-check-circle" (click)="update(com.id)" title="valider la commande"></i>
                        <i class="bi bi-ticket-detailed" (click)="detailcommande(com.id)" title="voir le détail"></i>
                        <i class="c bi bi-backspace-reverse-fill" (click)="annuler(com.id)" title="annuler la commande"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
