<main id="main" class="main">

    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/globale/menu']">catégorie</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/globale/listeProduit',catcat]">Liste</a></li>
                <li class="breadcrumb-item"><a>detail</a></li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img src="{{detailprod?.photo}} "  class="rounded-circle">
                        <h2>{{detailprod?.nomProduit}}</h2>
                        <h3>{{detailprod?.prixKg}}FCFA</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->

                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">Description</h5>
                                <p class="small fst-italic">{{detailprod?.description}}</p>

                                <h5 class="card-title"> Details</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Nom</div>
                                    <div class="col-lg-9 col-md-8">{{detailprod?.nomProduit}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Prix</div>
                                    <div class="col-lg-9 col-md-8">{{detailprod?.prixKg}}FCFA</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">unité de vente</div>
                                    <div class="col-lg-9 col-md-8">{{detailprod?.uniteProd}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Quantite</div>
                                    <div class="col-lg-9 col-md-8">{{detailprod?.quantite}}</div>
                                </div>
                                <h5>les caractéristiques du produit</h5>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">cycle</div>
                                    <div class="col-lg-9 col-md-8">{{detailprod?.cproduit?.cycle}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">sémis-maturité</div>
                                    <div class="col-lg-9 col-md-8">{{detailprod?.cproduit?.semimat}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">hauteur de la plante</div>
                                    <div class="col-lg-9 col-md-8">{{detailprod?.cproduit?.hauteur}}</div>
                                </div>
                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Profile Edit Form -->

                                <!-- End Profile Edit Form -->

                            </div>

                            <div class="tab-pane fade pt-3" id="profile-settings">

                                <!-- Settings Form -->

                                <!-- End settings Form -->

                            </div>



                        </div>
                        <!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main>
<!-- End #main -->