<main id="main" class="main">

    <div class="pagetitle">
        <h1>Détail produit</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/globale/menu']">catégorie</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/globale/listAngrais']">Liste</a></li>
                <li class="breadcrumb-item"><a>détail angrais</a></li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="{{img}}{{detailprod.id}} " alt="Profile" class="rounded-circle">
                        <h2>{{detailprod.nomProduit}}</h2>
                        <h3>{{detailprod.prixKg}}FCFA</h3>

                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->

                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">Description</h5>
                                <p class="small fst-italic">{{detailprod?.description}}
                                </p>

                                <h5 class="card-title"> Details</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Nom</div>
                                    <div class="col-lg-9 col-md-8">{{detailprod.nomProduit}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Prix</div>
                                    <div class="col-lg-9 col-md-8">{{detailprod.prixKg}}FCFA</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Prix Par Sac</div>
                                    <div class="col-lg-9 col-md-8">{{detailprod.prixSac50Kg}}FCFA</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Quantite</div>
                                    <div class="col-lg-9 col-md-8">{{detailprod.quantite}}FCFA</div>
                                </div>
                                <h5 *ngIf="detailprod.cproduit">les caractéristiques du produit</h5>
                                <div class="row" *ngIf="detailprod.cproduit">
                                    <div class="col-lg-3 col-md-4 label">cycle</div>
                                    <div class="col-lg-9 col-md-8">{{detailprod?.cproduit?.cycle}}</div>
                                </div>
                                <div class="row" *ngIf="detailprod.cproduit">
                                    <div class="col-lg-3 col-md-4 label">sémis-maturité</div>
                                    <div class="col-lg-9 col-md-8">{{detailprod?.cproduit?.semimat}}</div>
                                </div>
                                <div class="row" *ngIf="detailprod.cproduit">
                                    <div class="col-lg-3 col-md-4 label">hauteur de la plante</div>
                                    <div class="col-lg-9 col-md-8">{{detailprod?.cproduit?.hauteur}}</div>
                                </div>
                            </div>

                        </div>
                        <!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main>
<!-- End #main -->